.logo {
  box-shadow: none;
  font-size: 32px;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  background: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );

  //background: linear-gradient(90deg, #feb6a3, #f964b0),
}
